name: CI-Polaris-Basic
on:
#  push:
#    branches: [main, dev]
#  pull_request:
#    branches: [main]
  workflow_dispatch:
   
jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    # For compiled languages, uncomment and configure the build setup step below:
    # - name: Setup Java JDK
    #   uses: actions/setup-java@v4
    #   with:
    #     java-version: 21
    #     distribution: temurin
    #     cache: maven
    - name: Polaris Scan
      uses: blackduck-inc/black-duck-security-scan@v2
      with:
        ### SCANNING: Required fields
        polaris_server_url: ${{ vars.POLARIS_SERVER_URL }}
        polaris_access_token: ${{ secrets.POLARIS_ACCESS_TOKEN }}
        polaris_assessment_types: "SAST"
        
        ### SCANNING OPTIONAL
        polaris_application_name: quickstart-${{ github.event.repository.name }}
        
        ### SCANNING OPTIONAL: Pull Request comments
        polaris_prComment_enabled: true
        polaris_prComment_severities: low,medium,high,critical
        github_token: ${{ secrets.GH_TOKEN }} # Required when Pull Request comments field enabled
        
        ### ENABLE OPTIONAL SCAN REPORTS
        polaris_reports_sarif_create: true
        polaris_upload_sarif_report: true
        
        ### COVERITY BUILD COMMANDS (uncomment and configure for compiled languages)
        # coverity_build_command: mvn -B -DskipTests package
        # coverity_clean_command: mvn -B clean
        
        ## OPTIONAL DIAGNOSTICS: Upload logs as build artifact if true
        include_diagnostics: false

